# Compiles and Binaries
bin/
*.exe
*.exe~
*.dll
*.so
*.dylib

# Local Databases and dynamic data
data/db/*.db
data/db/*.db-journal
data/db/*.db-shm
data/db/*.db-wal
*.db
*.db-journal
*.db-shm
*.db-wal

# Operating System Files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# IDE and Temp files
.idea/
.vscode/
.gemini/
.tempmediaStorage/
*~
*.swp
